<h1><%= title %></h1>

<%- messages() %>

<div class="account-container">
    <form id="loginForm" action="/account/login" method="post">
        <fieldset>
            <label for="account_email">Email Address</label>
            <input type="email" name="account_email" id="account_email" required placeholder="Enter a valid email address">

            <label for="account_password">Password</label>
            <span class="form-info">Passwords must be at least 12 characters and include at least 1 uppercase letter, 1 number and 1 special character.</span>
            <input type="password" name="account_password" id="account_password" required>

            <button type="submit" class="btn">Login</button>
        </fieldset>
    </form>

    <p class="account-link">
        No account? <a href="/account/register">Sign-up</a>
    </p>
</div>