<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <% }) %>
  </ul>
<% } %>

<div class="account-container">
    <form id="registrationForm" action="/account/register" method="post">
        <fieldset>
            <label for="account_firstname">First Name</label>
            <input type="text" name="account_firstname" id="account_firstname" required>

            <label for="account_lastname">Last Name</label>
            <input type="text" name="account_lastname" id="account_lastname" required>

            <label for="account_email">Email Address</label>
            <input type="email" name="account_email" id="account_email" required>

            <label for="account_password">Password</label>
            <span class="form-info">
                12 characters minimum, at least 1 capital, 1 number, and 1 special character.
            </span>
            <input type="password" name="account_password" id="account_password" required>

            <button type="submit" class="btn">Register</button>
        </fieldset>
    </form>
</div>