<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <hr>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <p><a href="/inv/trigger-error">Click here to test 500 Error</a></p>
</footer>