<header id="top-header">
    <span class="siteName"><a href="/" title="Home page">CSE Motors</a></span>
    <div id="tools">
      <a href="/account/login" title="Click to log in">My Account</a>
    </div>
</header>