<section class="hero-container">
    <h2>Welcome to CSE Motors!</h2>
    <div class="hero-image-box">
      <div class="hero-text">
        <h3>DMC DeLorean</h3>
        <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
        <button>Own Today</button>
      </div>
      <img src="/images/vehicles/delorean.jpg" alt="DMC DeLorean">
    </div>
  </section>
  
  <div class="flex-content">
    <section class="reviews">
      <h3>DMC DeLorean Reviews</h3>
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </section>
  
    <section class="upgrades">
      <h3>Delorean Upgrades</h3>
      <div class="upgrade-grid">
        <figure>
          <div class="img-container"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
          <figcaption><a href="#">Flux Capacitor</a></figcaption>
        </figure>
        <figure>
          <div class="img-container"><img src="/images/upgrades/flame.jpg" alt="Flame Decals"></div>
          <figcaption><a href="#">Flame Decals</a></figcaption>
        </figure>
        <figure>
          <div class="img-container"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
          <figcaption><a href="#">Bumper Stickers</a></figcaption>
        </figure>
        <figure>
          <div class="img-container"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
          <figcaption><a href="#">Hub Caps</a></figcaption>
        </figure>
      </div>
    </section>
  </div>