<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <% }) %>
  </ul>
<% } %>

<div class="account-container">
  <form action="/inv/add-classification" method="post">
    <fieldset>
      <label for="classification_name">Classification Name</label>
      <span class="form-info">NAME MUST BE ALPHABETIC CHARACTERS ONLY (NO SPACES OR SPECIAL CHARACTERS).</span>
      
      <input type="text" 
             name="classification_name" 
             id="classification_name" 
             required 
             pattern="^[a-zA-Z]+$" 
             value="<%= locals.classification_name %>">

      <button type="submit" class="btn">Add Classification</button>
    </fieldset>
  </form>
</div>